In [2]:
import sqlite3
conn = sqlite3.connect('Resources/restaurants.db')

In [3]:
cursor = conn.cursor()
# Specify the cuisine you're interested in
desired_cuisine = 'Italian'

# Execute a SQL query to retrieve restaurant details for the given cuisine
query = """
    SELECT cuisines, count(id)
    FROM restaurant_cuisine
    WHERE ID IN 
    (SELECT id from restaurant_metadata where state = 'CA')
    GROUP BY cuisines
    ORDER BY count(id) desc
    LIMIT 15
"""

restaurants_with_cuisine = cursor.execute(query).fetchall()

# Print the results
for restaurant in restaurants_with_cuisine:
    print(restaurant)

('American (Traditional)', 69)
('American (New)', 55)
('Mexican', 54)
('Pizza', 41)
('Breakfast & Brunch', 40)
('Burgers', 39)
('Sushi Bars', 34)
('Seafood', 33)
('Sandwiches', 33)
('Italian', 31)
('Coffee & Tea', 31)
('Bars', 30)
('Chinese', 23)
('Japanese', 22)
('Steakhouses', 21)

In [4]:
query = """
    SELECT price, count(id)
    FROM restaurant_metadata
    GROUP BY price
    ORDER BY count(id) desc
   
 """
# query = """
#     SELECT DISTINCT (state)
#     FROM restaurant_metadata
   
# """
restaurants_with_cuisine = cursor.execute(query).fetchall()

# Print the results
for restaurant in restaurants_with_cuisine:
    print(restaurant)

('$$', 15392)
('$', 4221)
(None, 1834)
('$$$', 1530)
('$$$$', 269)

In [26]:
query = """
   SELECT
    c.cuisines,
    COUNT(m.id) AS restaurant_count 
FROM
    restaurant_metadata m 

JOIN
    restaurant_cuisine c ON m.id = c.id
WHERE state = 'CA'
GROUP BY
    c.cuisines
ORDER BY 
    restaurant_count DESC
 """
restaurants_with_cuisine = cursor.execute(query).fetchall()

# Print the results
for restaurant in restaurants_with_cuisine:
    print(restaurant)

('American (Traditional)', 69)
('American (New)', 55)
('Mexican', 54)
('Pizza', 41)
('Breakfast & Brunch', 40)
('Burgers', 39)
('Sushi Bars', 34)
('Seafood', 33)
('Sandwiches', 33)
('Italian', 31)
('Coffee & Tea', 31)
('Bars', 30)
('Chinese', 23)
('Japanese', 22)
('Steakhouses', 21)
('Mediterranean', 20)
('Barbeque', 20)
('Salad', 18)
('Vietnamese', 17)
('Cocktail Bars', 17)
('Sports Bars', 16)
('Fast Food', 16)
('Wine Bars', 15)
('Desserts', 15)
('Indian', 14)
('Chicken Wings', 14)
('Bakeries', 14)
('Thai', 13)
('Juice Bars & Smoothies', 13)
('Teppanyaki', 11)
('Ramen', 11)
('Soup', 10)
('Poke', 10)
('Cafes', 9)
('Noodles', 8)
('Bubble Tea', 8)
('Breweries', 8)
('Hot Dogs', 7)
('Diners', 7)
('Pubs', 6)
('Ice Cream & Frozen Yogurt', 6)
('Hawaiian', 6)
('Comfort Food', 6)
('Venues & Event Spaces', 5)
('Laotian', 5)
('Food Trucks', 5)
('Asian Fusion', 5)
('Vegetarian', 4)
('Tea Rooms', 4)
('Lounges', 4)
('Korean', 4)
('Delis', 4)
('Chicken Shop', 4)
('Caterers', 4)
('Cajun/Creole', 4)
('Buffets', 4)
('Armenian', 4)
('Vegan', 3)
('Tacos', 3)
('Soul Food', 3)
('Meat Shops', 3)
('Karaoke', 3)
('International Grocery', 3)
('Grocery', 3)
('Gastropubs', 3)
('French', 3)
('Fish & Chips', 3)
('Dim Sum', 3)
('Cupcakes', 3)
('Brewpubs', 3)
('Beer Bar', 3)
('Whiskey Bars', 2)
('Tex-Mex', 2)
('Tapas/Small Plates', 2)
('Szechuan', 2)
('Spanish', 2)
('Southern', 2)
('Persian/Iranian', 2)
('Pancakes', 2)
('Pan Asian', 2)
('New Mexican Cuisine', 2)
('Music Venues', 2)
('Modern European', 2)
('Lebanese', 2)
('Latin American', 2)
('Kebab', 2)
('German', 2)
('Food Delivery Services', 2)
('Donuts', 2)
('Cantonese', 2)
('Beer, Wine & Spirits', 2)
('Bagels', 2)
('Acai Bowls', 2)
('Vacation Rentals', 1)
('Taiwanese', 1)
('Specialty Food', 1)
('Smokehouse', 1)
('Shaved Ice', 1)
('Seafood Markets', 1)
('Resorts', 1)
('Puerto Rican', 1)
('Peruvian', 1)
('Patisserie/Cake Shop', 1)
('Pasta Shops', 1)
('Pakistani', 1)
('Organic Stores', 1)
('Middle Eastern', 1)
('Live/Raw Food', 1)
('Japanese Curry', 1)
('Imported Food', 1)
('Hot Pot', 1)
('Health Markets', 1)
('Halal', 1)
('Greek', 1)
('Gluten-Free', 1)
('Food Stands', 1)
('Food Court', 1)
('Filipino', 1)
('Ethiopian', 1)
('Distilleries', 1)
('Custom Cakes', 1)
('Cuban', 1)
('Creperies', 1)
('Coffee Roasteries', 1)
('Brazilian', 1)
('Brasseries', 1)
('Boating', 1)
('Beer Gardens', 1)
('Arcades', 1)
('African', 1)

In [ ]:
# Close the connection
conn.close()