In [117]:
import pandas as pd
import requests
import json
import re

In [80]:
# Import API key
from api import API_key

In [81]:
url = "https://api.yelp.com/v3/businesses/search"

In [83]:
headers = {
        'Authorization': 'Bearer ' + API_key,
        'Content-Type': 'application/json'
    }

In [84]:
# states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia"]
# states += ["Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland"]
# states += ["Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey"]
# states += ["New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina"]
# states += ["South Dakota", "Tennessee", "Texas", "Utah", "Vermont" ]
states = ["Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
offsets = [0,51,101,151,201,251,301,351,401]
restaurants= []

In [85]:
for state in states:
    print(f'Getting data for state: {state}')
    for offset in offsets:
        print(f'Getting offset: {offset}')
        params = {'location': state,
            'limit': 50,
            'offset': offset,
            'sort_by': 'review_count',
            'term': 'food'
            }
        response = requests.get(url,  headers=headers, params=params).json()
        if 'businesses' in response:
            restaurants.extend(response['businesses'])

Getting data for state: Virginia
Getting offset: 0
Getting offset: 51
Getting offset: 101
Getting offset: 151
Getting offset: 201
Getting offset: 251
Getting offset: 301
Getting offset: 351
Getting offset: 401
Getting data for state: Washington
Getting offset: 0
Getting offset: 51
Getting offset: 101
Getting offset: 151
Getting offset: 201
Getting offset: 251
Getting offset: 301
Getting offset: 351
Getting offset: 401
Getting data for state: West Virginia
Getting offset: 0
Getting offset: 51
Getting offset: 101
Getting offset: 151
Getting offset: 201
Getting offset: 251
Getting offset: 301
Getting offset: 351
Getting offset: 401
Getting data for state: Wisconsin
Getting offset: 0
Getting offset: 51
Getting offset: 101
Getting offset: 151
Getting offset: 201
Getting offset: 251
Getting offset: 301
Getting offset: 351
Getting offset: 401
Getting data for state: Wyoming
Getting offset: 0
Getting offset: 51
Getting offset: 101
Getting offset: 151
Getting offset: 201
Getting offset: 251
Getting offset: 301
Getting offset: 351
Getting offset: 401

In [93]:
df = pd.DataFrame(restaurants)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1807 non-null   object
 1   alias          1807 non-null   object
 2   name           1807 non-null   object
 3   image_url      1807 non-null   object
 4   is_closed      1807 non-null   bool
 5   url            1807 non-null   object
 6   review_count   1807 non-null   int64
 7   categories     1807 non-null   object
 8   rating         1807 non-null   float64
 9   coordinates    1807 non-null   object
 10  transactions   1807 non-null   object
 11  price          1634 non-null   object
 12  location       1807 non-null   object
 13  phone          1807 non-null   object
 14  display_phone  1807 non-null   object
 15  distance       1807 non-null   float64
dtypes: bool(1), float64(2), int64(1), object(12)
memory usage: 213.6+ KB

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,gg0KUHbpC8rCxW1Iym2LYA,blue-mountain-brewery-afton,Blue Mountain Brewery,https://s3-media1.fl.yelpcdn.com/bphoto/E-DbVX...,False,https://www.yelp.com/biz/blue-mountain-brewery...,746,"[{'alias': 'brewpubs', 'title': 'Brewpubs'}]",4.0,"{'latitude': 38.016237360670075, 'longitude': ...",[],$$,"{'address1': '9519 Critzers Shop Rd', 'address...",+15404568020,(540) 456-8020,52442.706359
1,TmafPHIsnYiTa6i2HXzDyg,jack-browns-beer-and-burger-joint-harrisonburg...,Jack Brown's Beer & Burger Joint - Harrisonburg,https://s3-media2.fl.yelpcdn.com/bphoto/soMsow...,False,https://www.yelp.com/biz/jack-browns-beer-and-...,663,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",4.5,"{'latitude': 38.448497287581, 'longitude': -78...","[delivery, pickup]",$$,"{'address1': '80 S Main St', 'address2': '', '...",+15404335225,(540) 433-5225,69182.833239
2,IRbefUFKJrJfFENkck2qFw,devils-backbone-brewing-company-roseland-2,Devils Backbone Brewing Company,https://s3-media2.fl.yelpcdn.com/bphoto/RrFBqQ...,False,https://www.yelp.com/biz/devils-backbone-brewi...,577,"[{'alias': 'tradamerican', 'title': 'American ...",3.5,"{'latitude': 37.870856, 'longitude': -78.918875}",[],$$,"{'address1': '200 Mosbys Run', 'address2': '',...",+14343611001,(434) 361-1001,46315.996093
3,dEukVK634pxUEiZig5PCRQ,thunderbird-cafe-mcgaheysville,Thunderbird Cafe,https://s3-media2.fl.yelpcdn.com/bphoto/e1RTrR...,False,https://www.yelp.com/biz/thunderbird-cafe-mcga...,561,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.5,"{'latitude': 38.37514, 'longitude': -78.7285799}",[delivery],$$,"{'address1': '42 Island Ford Rd', 'address2': ...",+15402895094,(540) 289-5094,73326.658391
4,Q_szQSnt_QyZJpbdwrXJZA,the-mill-street-grill-staunton,The Mill Street Grill,https://s3-media2.fl.yelpcdn.com/bphoto/xED5sF...,False,https://www.yelp.com/biz/the-mill-street-grill...,555,"[{'alias': 'tradamerican', 'title': 'American ...",4.5,"{'latitude': 38.1480029950747, 'longitude': -7...",[],$$,"{'address1': '1 Mill St', 'address2': '', 'add...",,,34581.265894

In [87]:
counts = df['id'].count()
counts

1807

In [88]:
# Specify the path and filename for the CSV file
csv_file_path_1 = 'data1.csv'
csv_file_path = 'data1.csv'

# Convert and save the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

In [103]:
# Specify the path and filename for the CSV file
csv_file_path_1 = 'data1.csv'
csv_file_path = 'data.csv'

In [104]:
# Read the CSV file and create a DataFrame
df_45 = pd.read_csv(csv_file_path)
df_5 = pd.read_csv(csv_file_path_1)

In [105]:
df_45['id'].count()

21523

In [106]:
df_5['id'].count()

1807

In [110]:
combined_df = pd.concat([df_45, df_5], ignore_index=True)
combined_df['id'].count()

23330

In [121]:
combined_df.head(2)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23330 entries, 0 to 23329
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             23330 non-null  object
 1   alias          23330 non-null  object
 2   name           23330 non-null  object
 3   image_url      23041 non-null  object
 4   is_closed      23330 non-null  bool
 5   url            23330 non-null  object
 6   review_count   23330 non-null  int64
 7   categories     23330 non-null  object
 8   rating         23330 non-null  float64
 9   coordinates    23330 non-null  object
 10  transactions   23330 non-null  object
 11  price          21537 non-null  object
 12  location       23330 non-null  object
 13  phone          23041 non-null  float64
 14  display_phone  23041 non-null  object
 15  distance       23330 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 2.7+ MB

In [124]:
combined_df.head(5)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,CcvzbAdZR7kN_HQy5i4AtA,saws-soul-kitchen-birmingham-3,Saw's Soul Kitchen,https://s3-media2.fl.yelpcdn.com/bphoto/SSeFX1...,False,https://www.yelp.com/biz/saws-soul-kitchen-bir...,998,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.5,"{'latitude': 33.524198528011226, 'longitude': ...",['delivery'],$$,"{'address1': '215 41st St S', 'address2': None...",1.205591e+10,(205) 591-1409,7067.681435
1,wGKlPWIZVslyMM9es7vg1A,el-barrio-birmingham,El Barrio,https://s3-media4.fl.yelpcdn.com/bphoto/Zj1ui7...,False,https://www.yelp.com/biz/el-barrio-birmingham?...,834,"[{'alias': 'mexican', 'title': 'Mexican'}]",4.5,"{'latitude': 33.5169035, 'longitude': -86.8030...",['delivery'],$$,"{'address1': '2211 2nd Ave N', 'address2': '',...",1.205868e+10,(205) 868-3737,4616.413033
2,W6Z4VGSJ5lLymR2idLNLfw,hattie-bs-hot-chicken-birmingham-birmingham-2,Hattie B's Hot Chicken - Birmingham,https://s3-media2.fl.yelpcdn.com/bphoto/Ej0sPi...,False,https://www.yelp.com/biz/hattie-bs-hot-chicken...,720,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",4.5,"{'latitude': 33.511543, 'longitude': -86.788468}",['delivery'],$$,"{'address1': '2808 7th Ave S', 'address2': 'St...",1.205579e+10,(205) 578-6018,6094.292242
3,0ZcwpVEYRZ-ZyeLsZS2oGA,jack-browns-beer-and-burger-joint-birmingham-b...,Jack Brown's Beer & Burger Joint - Birmingham,https://s3-media1.fl.yelpcdn.com/bphoto/rt3yUq...,False,https://www.yelp.com/biz/jack-browns-beer-and-...,695,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",4.5,"{'latitude': 33.5111334, 'longitude': -86.7883...","['pickup', 'delivery']",$$,"{'address1': '2811 7th Ave S', 'address2': Non...",1.205203e+10,(205) 203-4512,6130.877144
4,ABK0EgFGXw_JmNNDXhyJrw,saws-bbq-homewood-2,SAW's BBQ,https://s3-media4.fl.yelpcdn.com/bphoto/-84d_Q...,False,https://www.yelp.com/biz/saws-bbq-homewood-2?a...,673,"[{'alias': 'bbq', 'title': 'Barbeque'}]",4.5,"{'latitude': 33.47388, 'longitude': -86.80825}",['delivery'],$$,"{'address1': '1008 Oxmoor Rd', 'address2': '',...",1.205879e+10,(205) 879-1937,7469.371520

In [123]:

combined_df.loc[combined_df['id'] == 'CcvzbAdZR7kN_HQy5i4AtA', 'categories'].values

array(["[{'alias': 'bbq', 'title': 'Barbeque'}, {'alias': 'seafood', 'title': 'Seafood'}, {'alias': 'burgers', 'title': 'Burgers'}]"],
      dtype=object)

In [120]:
state_info = []
p= ''state'(?=:)'
# Loop through each row in the DataFrame
for index, row in combined_df.iterrows():
    location = row['location']
    
    # Check if the location contains 'state': 'AL'
    if '"state":' in location:
        combined_df[combined_df['location'].str.contains(p)]
        state_info.append(state)
    else:
        state_info.append(None) 
# Add the extracted state info as a new column
state_info

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]