In [1]:
import sqlite3
conn = sqlite3.connect('Resources/restaurants.db')

In [2]:
cursor = conn.cursor()
# Specify the cuisine you're interested in
desired_cuisine = 'Italian'

# Execute a SQL query to retrieve restaurant details for the given cuisine
query = """
    SELECT cuisines, count(id)
    FROM restaurant_cuisine
    WHERE ID IN 
    (SELECT id from restaurant_metadata where state = 'CA')
    GROUP BY cuisines
    ORDER BY count(id) desc
    LIMIT 15
"""

restaurants_with_cuisine = cursor.execute(query).fetchall()

# Print the results
for restaurant in restaurants_with_cuisine:
    print(restaurant)

('American (Traditional)', 69)
('American (New)', 55)
('Mexican', 54)
('Pizza', 41)
('Breakfast & Brunch', 40)
('Burgers', 39)
('Sushi Bars', 34)
('Seafood', 33)
('Sandwiches', 33)
('Italian', 31)
('Coffee & Tea', 31)
('Bars', 30)
('Chinese', 23)
('Japanese', 22)
('Steakhouses', 21)

In [3]:
query = """
    SELECT state, count(id)
    FROM restaurant_metadata
    GROUP BY state
    ORDER BY count(id) desc
   
 """
# query = """
#     SELECT DISTINCT (state)
#     FROM restaurant_metadata
   
# """
restaurants_with_cuisine = cursor.execute(query).fetchall()

# Print the results
for restaurant in restaurants_with_cuisine:
    print(restaurant)

('NY', 800)
('KS', 689)
('VA', 672)
('MD', 601)
('MN', 564)
('IN', 550)
('MA', 536)
('ME', 528)
('SC', 525)
('IA', 518)
('MS', 516)
('WV', 510)
('CT', 508)
('WI', 503)
('CA', 503)
('OR', 502)
('TX', 501)
('GA', 501)
('AK', 501)
('TN', 500)
('OK', 500)
('OH', 500)
('NM', 500)
('ID', 500)
('HI', 500)
('CO', 500)
('AZ', 500)
('AL', 500)
('UT', 499)
('MI', 499)
('MT', 498)
('AR', 498)
('SD', 497)
('IL', 490)
('NE', 484)
('LA', 484)
('NC', 477)
('RI', 464)
('PA', 456)
('NH', 455)
('KY', 453)
('ND', 432)
('NJ', 406)
('VT', 322)
('MO', 307)
('DE', 240)
('DC', 226)
('NV', 22)
('WY', 6)
('HRT', 1)
('FL', 1)
('DOW', 1)

In [4]:
# Close the connection
conn.close()